.tab {
	min-width: fit-content;
	width: 80px;
	padding: 6px;
	background-color: transparent;
	border: 1px solid #818181;
	border-radius: var(--border-radius);
	color: var(--color-gray);
	cursor: pointer;
	text-transform: capitalize;

	&.active {
		background-color: var(--color-primary);
		border-color: var(--color-primary);
		color: white;
	}
}