.dropdown-select-icon {
	z-index: 1;
	color: white;
}

.dropdown-container {
	--width: 136px;
	position: relative;

	.dropdown-button {
		background-color: var(--color-input-bg);
		color: white;
		padding: var(--input-padding);
		padding-left: 10px;
		width: var(--width);
		cursor: pointer;
		border: none;
		border-radius: var(--border-radius);

		&:hover {
			opacity: 0.8;
		}
	}

	.dropdown-list {
		border-radius: var(--border-radius);
		background-color: var(--color-input-bg);
		color: white;
		list-style: none;
		margin: 0;
		position: absolute;
		z-index: 1;
		margin-top: 3px;
		box-shadow: 2px 5px 3px #0505051c;
		width: var(--width);
		font-size: 14px;
		padding: 8px 0px;

		li {
			white-space: nowrap;
			padding: 10px;
			padding: 5px 11px;

			&.active {
				color: var(--color-accent);
				font-weight: 600;
			}

			&:hover {
				background-color: #00000021;
				cursor: pointer;
			}
		}
	}
}