.navbar {
	--selected-color: var(--color-secondary);
	color: #fff;
	padding: 10px;

	.navbar-links {
		display: flex;
		gap: 10px;

		a {
			color: #fff;
			text-decoration: none;
			font-weight: 500;
			padding: 10px;
			border-radius: var(--border-radius);
			white-space: nowrap;

			&:hover {
				background-color: #454545;

			}
		}

		.to-watch {
			outline: 1px solid var(--color-to-watch);

			&:hover {
				background-color: transparent;
			}
		}

		.watched {
			outline: 1px solid var(--color-watched);

			&:hover {
				background-color: transparent;
			}
		}

		.search {
			outline: 1px solid white;

			&:hover {
				background-color: transparent;
			}
		}
	}
}