.container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-body-bg);
  color: white;
}

.contents {
  padding: 0 var(--padding-md);
  overflow: auto;
}

.header {
  background-color: var(--color-header-bg);
  background-image: linear-gradient(93deg, rgb(17 17 17), var(--color-input-bg));
}

@media (max-width: 375px) {
  .contents {
    padding: var(--mobile-padding);
    padding-top: 0;
  } 
}