.container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-body-bg);
  color: white;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  height: 100%;
  justify-content: space-between;
  overflow: auto;
}

.header {
  background-color: var(--color-header-bg);
  background-image: linear-gradient(93deg, rgb(17 17 17), var(--color-input-bg));
}

@media (max-width: 1115px) {
  .contents {
    padding-top: 0;
  }
}