.button-primary {
  background-color: var(--color-primary);
  border: none;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  color: white;
  font-size: 15px;
  letter-spacing: 0.75px;
  font-weight: 600;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 7px;

  &:hover {
    /* TODO: [cam] how to darken colors programttically>? */
    opacity: 0.8;
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: white;
    color: var(--color-gray-1);
    outline: 1px solid var(--color-gray-1);
  }
}

.icon-button {
  color: white;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {

    background-color: #c5c5c521;
  }
}