.button-primary {
  background-color: var(--color-primary);
  border: none;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  color: white;
  font-size: 15px;
  letter-spacing: 0.75px;
  font-weight: 600;
  white-space: nowrap;

  &:hover {
    /* TODO: [cam] how to darken colors programttically>? */
    opacity: 0.8;
    cursor: pointer;
  }

  &:disabled {
    background-color: var(--color-secondary);
  }
}



.icon-button {
  color: white;
  border-radius: 50%;
  border: none;
  height: 30px;
  width: 30px;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.icon-button:hover {
  background-color: gray;
  ;
}