.button-primary {
  background-color: var(--color-primary);
  border: none;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  color: white;
  font-size: 15px;
  letter-spacing: 0.75px;
  font-weight: 600;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 7px;

  &:hover {
    /* TODO: [cam] how to darken colors programatically? */
    opacity: 0.8;
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }
}

.icon-button {
  position: relative;
  color: white;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  height: 30px;
  width: 30px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;



  &:hover {
    background-color: #c5c5c521;
  }

  &.search-footer {
    background-color: #c5c5c521;

    &:hover {
      opacity: 0.8;
    }

    &.added-to-watch {
      background-color: var(--color-to-watch);

      &:hover {
        background-color: var(--color-to-watch);
      }
    }

    &.added-watched {
      background-color: var(--color-watched);

      &:hover {
        background-color: var(--color-watched);
      }
    }


  }
}

.button-icon {
  width: 17px;
}