.media-card {
	position: relative;
	border: 1px solid #545454;
	border-radius: var(--media-card-border-radius);
	color: white;

	.media-card-header {
		display: flex;
		align-items: center;
		border-radius: var(--media-card-border-radius) var(--media-card-border-radius) 0 0;
		font-weight: 500;
	}

	.media-card-contents {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		backdrop-filter: blur(4px);
		-webkit-backdrop-filter: blur(4px);
		background-color: #152636c2;
		border-radius: 0px 0px 9px 9px;
		padding: 10px;
	}

	.media-card-img {
		flex: 1;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		border-radius: calc(var(--media-card-border-radius) - 1px);
		min-height: 275px;
	}

	.media-card-footer {
		font-size: 14px;
	}

}

.extra-detail-row {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 20px;
}

.watched-footer-date {
	font-size: 12px;
}

@media (max-width: 375px) {
	.media-card {
		width: 172px;
	}

	.media-card-header {
		font-size: 13px;
	}

	.media-card-footer {
		.rating {
			img {
				width: 12px;
			}

			font-size: 9px;
		}
	}

	.watched-footer-date {
		font-size: 9px;
		white-space: nowrap;
	}
}