.media-card {
	position: relative;
	border: 1px solid #545454;
	border-radius: var(--media-card-border-radius);
	color: white;

	&.halloween::after,
	&.christmas::after {
		content: '';
		display: block;
		height: 100%;
		position: absolute;
		top: 0;
		width: 100%;
		border-radius: 10px;
		pointer-events: none;
	}

	&.halloween::after {
		box-shadow: inset 0px 0px 25px 4px #ff8d00;
	}

	&.christmas::after {
		box-shadow: inset 0px 0px 22px 7px #00863d;
	}

	.media-card-header {
		display: flex;
		align-items: center;
		border-radius: var(--media-card-border-radius) var(--media-card-border-radius) 0 0;
		font-weight: 500;
	}

	.media-card-contents {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		backdrop-filter: blur(4px);
		-webkit-backdrop-filter: blur(4px);
		background-color: #152636c2;
		border-radius: 0px 0px 9px 9px;
		padding: 10px;
	}

	.media-card-img {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		border-radius: calc(var(--media-card-border-radius) - 1px);
		height: 300px;
	}

	.media-card-footer {
		font-size: 14px;
	}

}

.extra-detail-row {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 20px;
}

.watched-footer-date {
	font-size: 12px;
}

.upcoming-release {
	background-color: var(--color-watched);
	padding: 5px 10px;
	position: absolute;
	top: -23px;
	width: 100%;
	font-weight: bold;
	font-size: 11px;
}

@media (max-width: 1115px) {
	.media-card {
		width: 172px;

		.media-card-img {
			height: 270px;
		}
	}


	.media-card-header {
		font-size: 13px;
	}

	.media-card-footer {
		.rating {
			img {
				width: 12px;
			}

			font-size: 9px;
		}
	}

	.watched-footer-date {
		font-size: 9px;
		white-space: nowrap;
	}
}