.search header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.search header h1 {
  margin-right: auto;
}

.search-results {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.search-result-item {
  border: 1px solid gray;
  flex-basis: 30%;
  padding: 10px;
  border-radius: 10px;
  color: white;
  background-color: #000000e3;
}
